.s-home--container
  height: 100vh

  .img,
  .info
    height: 100%
    width: 50%

  .img
    background: url('/images/zaman-brandon.jpg') no-repeat center
    background-size: cover

  .info
    align-items: center
    display: flex