.s-home--container
  height: 100vh

  div[class*="content"]
    height: 100%
    width: 50%

  section
    max-width: rem(660)
    width: 100%

    h1
      cursor: pointer

      i
        transition: transform 0.75 ease-in
        transform: rotate(0deg)

    &.is-open
      h1
        i
          transform: rotate(180deg)

  .content--info
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 50%

  .tracks
    ol
      max-width: rem(300)
      width: 100%

    li
      border-bottom: rem(2) solid $eggshell
      cursor: pointer
      line-height: rem(50)

      &.playing
        .fa-pause
          display: inline

        .fa-play
          display: none
