body
  font-feature-settings: "kern", "liga", "pnum"
  font-family: $font-family-body
  font-weight: $font-weight-regular
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


h1, h2, h3, strong
  font-family: $font-family-heading
  font-weight: $font-weight-bold

h1
  font-size: rem(24)
  letter-spacing: rem(-0.5)

p
  font-size: rem(16)
  letter-spacing: rem(-0.1)
  line-height: 1.375
  margin-bottom: rem(5)
